@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

/* FIX FÜR DIE LESBARKEIT */
@layer base {
  /* Überschriften & Fettschrift automatisch anpassen */
  h1, h2, h3, h4, h5, h6, strong, b {
    @apply text-slate-900 dark:text-white transition-colors duration-300;
  }
  
  /* Standard-Texte */
  p, span, li, a {
    @apply text-slate-700 dark:text-slate-300 transition-colors duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

body {
    @apply bg-white dark:bg-[#0b0f1a];
    min-height: 100vh;
}
